/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json

/.idea

/storage/*.key

/vendor

.env
.env.backup
.phpunit.result.cache
.rnd

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
